<p>
<%= link_to trip.trip_name,vehicle_trip_path(trip)%>
</p>








<!--
<p>
<strong>trip_number:</strong>
<%= trip.trip_number %>
</p>

<p>
<strong>distance:</strong>
<%= trip.distance %>
</p>

<p>
<strong>fuel_consumption:</strong>
<%= trip.fuel_consumption %>
</p>


<p>
<%# <%= link_to "Add Trip", new_vehicle_trip_path(@trip)%> 

<%= link_to "Edit Trip  ", edit_vehicle_trip_path(@vehicle)%>

<%= link_to "  Destroy trip", [trip.vehicle, trip], data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
        } %>
</p>
-->